@charset "UTF-8";

@import "base";

//顶级页头小条
.site-header{
	border-bottom: 1px solid $borderColor;

	a{
		line-height: 80px;
			text-decoration: none;
	}

	a.site-title{
		
			font-size: 30px;
			
	
	}
	
}

.site-footer{
	background-color: $borderColor;
	height: 200px;
	padding-top: 50px;
	

	div{
		font-size: 16px;
		color: #999;
	}
}